.spyproject/
../calculus/__pycache__
__pycache__
.cache/
calculus/__pycache__
docs/_build
files/energies.dat
files/expvalues.dat
files/potential.dat
files/wavefuncs.dat
energies.dat
expvalues.dat
potential.dat
wavefuncs.dat
